{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<h4>{{=T('Summary')}}</h4>
<ul>
<li>Specialist in cloud computing, information security, and software engineering</li>
<li>Consulting skills in requirements elicitation, UML design, demos, negotiations, and PowerPoint</li>
<li>2 years of experience in enterprise SOC and IPS vendor roles, with 5 years of Linux development</li>
</ul>

<h4>{{=T('Certifications')}}</h4>
<ul>
<li>GIAC Certified Incident Handler (GCIH)</li>
<li>GIAC Security Essentials Certification (GSEC)</li>
<li>EMC Cloud Architect Expert (EMCCAe)</li>
</ul>

<h4>{{=T('Education')}}</h4>
<ul>
<li>Master of Software Systems - University of British Columbia, Class of 2012</li>
<li>Master of Science, Visualization - Texas A&M University, College Station</li>
<li>Bachelor of Arts, Mathematics - University of California, Santa Cruz</li>
</ul>

<h4>{{=T('Experience')}}</h4>
<ul>
<li>
    <h5>
    Associate Systems Engineer | EMC <br><small>September 2014 - Current, Bellevue, WA</small></h5>
    <p>
       Currently I am an enterprise pre-sales account systems engineer with a focus on IT infrastructure sales to enterprise accounts. I am assigned to T-Mobile working closely with DevOps and storage teams. My technical focus is Big Data, Cloud, and DevOps, where I have created POC applications using a variety of technologies including: Hortonworks, Cloud Foundry, Heroku, Splunk, Web2Py, Python, and Ruby (currently learning).  I used prior security experience to identify issues with access control and identity management, and coordinated with RSA to deliver an enterprise-wide solution.
    </p>

</li>
<li>
    <h5>
        Security Consultant | TELUS Communications <br><small>July 2013 - September 2014, Vancouver BC</small>
    </h5>
    <p>
        Previously I worked in cyber-security operations as a member of the TELUS Cyber Threat Intelligence, and Red Team.  In this role I performed high level adversary aware threat risk assessments of critical LTE infrastructure.  I also built a threat intelligence platform using the open source Collective Intelligence Framework (CIF) toolkit along with Python to allow easy web based searching by incident handlers. As part of my role, I worked closely with Access Management, and Architecture Compliance teams to create functional/technical RFI/RFP requirements for technology including a new Access and Identity Management System, as well as a Malware Sandbox.
    </p>
</li>

<li>
    <h5>
        Intrusion Prevention System Analyst | Fortinet Technologies<br><small>August 2012 - July 2013, Burnaby, BC</small>
    </h5>
     <p>
This was my most technical and challenging position where I was in command of a firewall evasion application control signature base for the Fortigate IPS appliance. In this role I worked daily to reverse engineer x86 binaries specific to network vulnerability and malware analysis, using IA32 Assembly debuggers to analyze packet encryption facilities. I re-implemented RSA and PGP encryption algorithms in pure assembly code, and used Python scripts within Linux tool chains to simulate applications for the purpose of blocking traffic via IPS, as well as harvesting data from remote servers to create IP blacklists.
    </p>
</li>
<li>
   <h5>
        Pipeline Developer (Python) Contract | Image Engine Designs<br><small>May 2012 - July 2012, Vancouver, BC</small>
    </h5>
    <p>
        This was a pure Python developer role where I was contracted to create a production ready tool for managing storage space for VFX artists.  I Designed a script with User level text-file configurations, and a PyQT graphical user interface.  I also implemented robust error and exception handling facilities, with email notifications for events.  Several in-house modules were reused and extended with this tool becomming integrated into a larger image rendering Pipeline.
    </p>
</li>

    <li>
        
           <h5>
        Software Engineer Intern - Wireless Linux Systems | InMotion Technology<br><small>Fall 2011, New Westminster, BC</small>
    </h5>
    <p>
        This was a requirment for graduation from UBC Masters of Software Systems program where I worked as a Python developer within a DevOps style systems engineering team. In this role I maintained and extended a Python tool-chain that managed the release of embedded device OS RPM packages. As part of a deployment team, I traveled internationally to a customer site and wrote an automation script to upgrade 560 mobile networking devices. The Python script detected devices on the network, then uploaded a Bash script that unpacked XML configuration tarballs and restarted the device to apply configurations.  </p>
        </li>
<li>
<h5>
        Graduate Teaching Assistant (Intro. to Programming) | Texas A&M University<br><small>August 2008 - December 2010, College Station, TX</small>
    </h5>
    <p>
        I was the Teaching Assistant for the course: Introduction to Programming (Python/C).  I served two sections with up to 60 students each, where I gave code demos, answered questions, assisted with labs, and marked exams.  I also worked help desk for the Linux computer lab.
   </p>
</li>

</ul>
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{block right_sidebar}}
<h5>{{=T("Contact Info")}}</h5>
<ul>
  <li>{{=T("Cell: 206.214.8602")}}</li>
  <li>{{=T("Email: bbertka@gmail.com")}}</li>
  <li>{{=T("Home: Bellevue, WA")}}</li>
</ul>

<h5><a href="/init/static/bertka_resume_2015.pdf?attachment">Download PDF</a></h5>

{{end}}
